html {
  background-color: #2e3440;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
  
body {
  width: 80%;
  min-height: calc(100vh - 4em);
  margin: 0 auto;
  background-color: #DDD;
  border-style: solid;
  border-color: #eceff4;
  border-width: 0px 15px 0px 15px;
  transition: 0.5s;
  overflow: hidden;
}

body#bodydiv {
  width: 100%;
  border-style: none;
}

.element {
  padding: 30px;
}

.divimg1 {
  width: 100%;
  height: 10%;
}

.divimg2 {
  width: 100%;
  height: 10%;
  transform: rotate(180deg);
}
  
h1 {
  font-size: 50pt;
  font-family: 'Hahmlet', serif;
}

h1.title {
  color: white;
  font-size: 4.5vw;
}
 
h2 {
  font-size: 30pt;
  font-family: 'Manrope', sans-serif;
  display: inline-block;
  width: 30%;
  margin-right: 10px;
  vertical-align: middle;
}

p {
  font-family: 'Jost', sans-serif;
  font-size: 16pt;
}

.element p {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

#blur {
  filter: blur(4px);
}

div.header {
  background-image: url("img/compass.png");
  background-color: #313131;
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px
}

div.headeritems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.headertext, div.headerbuttons {
  margin-left: auto;
  margin-right: auto;
}

button.headerbtn {
  border-radius: 40px;
  border: 3px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-weight: bold;
  font-family: 'Jost', sans-serif;
  font-size: 18pt;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px 10px 5px 10px;
  transition: transform .2s;
}

button.headerbtn:hover {
  border-color: #AAA;
  color: #AAA;
  transform: scale(1.05);
}

.desc {
  color: #CCC;
  font-size: 22pt;
}

.headerbtn .material-icons {
  font-size: 18pt;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

/* Bottom Bar */
.bottombar {
  width: 80%;
  height: 18%;
  padding: 20px 30px 20px 30px;
  background-color: darkgray;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  transition: 0.5s;
}

.column1 {
  width: 50%;
}

.column {
  width: 25%;
}

.column p, .column1 p {
  line-height: 0;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #333;
  padding: 20px;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

.ideoshort {
  font-size: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
}

.ideoname {
  font-size: 20px;
}

/* Mobile */
@media only screen and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2) {
  h1          { font-size: 60pt; }
  h2          { width: 100%; margin: 0; }
  .element p  { width: 100% }
  .bottombar  { flex-wrap: wrap; }
  .column1    { width: 100%; }
  .column     { width: 50%; }
}
